@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    font-family: 'Raleway', sans-serif;
}
/*Header*/
.navbar{
    margin: auto;
    padding: 20px 150px;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    background-color: #302F2E;
    padding-bottom: 5px;
}
.logo{
    display: flex;
}
.logo img{
    height: 80px;
}
.brand h3{
    color: #FB9C0D;
    font-size: 25px;
}
.items{
    height: 70px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
}
.items a{
    color: white;
    text-decoration: none;
    margin: 30px 30px;
    font-weight: 700;
    font-size: 18;
}
.login{
    margin-top: 20px;
    margin-left: 600px;
    font-weight: 700;
    color: #FB9C0D;
    background-color: #fff;
    text-align: center;
    width: 140px;
    height: 40px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    line-height: 40px;
}

/*Wallpaper*/
.wallpaper img{
    background-repeat: no-repeat;
    width: 100%; 
    height: 100vh;
    background-size: cover;
}

/*Title*/
.title{
    font-size: 48px;
    font-weight: bold;
    color: #FB9C0D;
    margin-left: 124px;
}
.sub-title{
    font-size: 32px;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.25);
    margin-left: 124px;
    margin-top: -20px;
}

/*Contact and Traveler info*/
.contact-info, .traveler-info{
    font-size: 36px;
    font-weight: bold;
    margin-left: 124px;
    margin-top: 80px;
}
.contact-container{
    height: 390px;
}
.contact-container, .traveler-container{
    width: 888px;
    margin-left: 124px;
    margin-top: 30px;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    border-radius:15px;
}
.traveler-container{
    height: 455px;  
}
.contact-title, .traveler-title{
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 50px;
    line-height: 50px;
}
hr{
    border: 2px solid #cdcdcd;
}
.contact-fullname, .contact-phone-mail{
    position: relatives;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 20px;
}
.contact-phone-mail{
    margin-top: -5px;
}
.contact-name, .phone-container, .mail-container, .fullname{
    font-size: 24px;
    font-weight: 600;
}
.contact-first, .contact-last, .contact-tele, .contact-mail{
    font-size: 24px;
    font-family: 'Rubik',sans-serif;
    font-weight: normal;
}
.lastname{
    margin-left: 280px;
}
.mail-container{
    margin-left: 262px;
}
.change-info-contact, .change-info-traveler{
    font-size: 24px;
    color: #FB9C0D;
    background-color: transparent;
    border: transparent;
}
.change-info-contact{
    margin-left: 450px;
}
.change-info-traveler{
    margin-left: 475px;
}
.change-info-contact:hover, .change-info-traveler:hover{
    font-weight: bold;
}


.traveler-full{
    margin-top: 20px;
    font-size: 24px;
}
.traveler-nationality{
    font-weight: normal;
    font-size: 24px;
}
.note{
    font-size: 14px;
    color: #FB9C0D;
    margin-top: -5px;
}
.sub-note{
    position: absolute;
    width: 250px;
    height: 28px;
    left: 780px;
    top: 1966px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FB9C0D;

}
.note-1{
    font-size: 24px;
    font-weight: 600;
    color: #FB9C0D;
    margin-left: 40px;

}
.title-traveler{
    margin-left: 40px;
    font-size: 24px;
    font-weight: 600;
}
.title-select{
    width: 200px;
    height: 40px;
    font-size: 24px;
    font-family: 'Rubik',sans-serif;
    font-weight: normal;
}
.traveler-name{
    margin-left: 40px;
    margin-top: 30px;
}
.traveler-dob-nation{
    display: flex;
    flex-direction: row;
    margin-top: -10px;
}
.dob, .nationality{
    font-size: 24px;
    font-weight: 600;
}
.dob{
    margin-left: 40px;
    margin-top: 30px;
}
.nationality{
    margin-left: 225px;
}
.traveler-birthday{
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    margin-top: 20px;
}

/*Flight detail*/
.place-container{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 535px;
    height: 378px;
    left: 1150px;
    top: 1400px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.airplane-icon img{
    width: 47px;
    height:50px;
    left: 1100px;
    top: 1264px;
    margin-left: 20px;
    margin-top: 20px;
}
.rightarrow-1 img {
    width: 50px;
    height: -100px;
    left: 1267.99px;
    top: 1258.5px;
    box-sizing: border-box;
    margin-left: 19px;
    margin-top: 38px;
}
.from, .to{
    margin-top: 40px;
}
.from{
    margin-left: 15px;
}
.to{
    margin-left: 20px;
}
.line{
    position: absolute;
    width: 535px;
    height: 0px;
    left: 1150px;
    top: 1480px;
    border: 2px solid #CDCDCD;

}
.airport{
    position: absolute;
    width: 125px;
    height: 28px;
    left: 1180px;
    top: 1475px;
    font-family: 'Rubik',sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.circle-icon-1{
    position: absolute;
    width: 9px;
    height: 9px;
    left: 1320px;
    top: 1510px;
    background: #FB9C0D;
    border-radius: 200px;
}
.datetime{
    position: absolute;
    width: 183px;
    height: 28px;
    left: 1355px;
    top: 1475px;
    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.departure-time, .landing-time{
    position: absolute; 
    width: 65px;
    height: 28px;
    top: 1550px;
    font-family: 'Rubik',sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.departure-time{
    left: 1220px;
}
.landing-time{
    left: 1395px;
}
.departure-place, .landing-place{
    position: absolute;
    width:140px;
    height:17px;
    top: 1600px;
    font-family: 'Rubik',sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: rgb(0,0,0,0.5);
    font-weight: 600;
}
.departure-place{
    left: 1185px;
}
.landing-place{
    left: 1380px;
}
.rightarrow-2 img{
    position: absolute;
    margin-top: -835px;
    margin-left: 1330px;
    width: 20px;
    height: 20px;
}
.timeamount{
    position: absolute;
    margin-top: -855px;
    margin-left: 1550px;
    font-size: 24px;
    font-family: 'Rubik',sans-serif;
}
.circle-icon-2{
    position: absolute;
    background-color: #FB9C0D;
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 200px;
    left: 1560px;
    top: 1623px;
}
.flightstate{
    position: absolute;
    left: 1578px;
    top: 1602px;
}
.advanced-info{
    position: absolute;
    margin-top: -760px;
    margin-left: 1200px;
}
.refundable-info, .reschedule-info{   
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.reschedule-info img, .refundable-info img{
    width: 30px;
    height: 30px;
}
.refundable, .reschedule{
    margin-left: 15px;
}
.refundable{
    margin-top: 10px;
}
.reschedule{
    margin-top: 7px;
}

/*Price*/
.price-container{
    position: absolute;
    width: 535px;
    height: 280px;
    left: 1150px;
    top: 1800px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.price-title{
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
}
.line-price-1{
    position: absolute;
    width: 535px;
    height: 0px;
    left: -3px;
    top: 60px;
    border: 2px solid #cdcdcd;
}
.line-price-2{
    position: absolute;
    width: 535px;
    height: 0px;
    border: 2px solid #cdcdcd;
    left: -3px;
    top: 190px;
}
.ticket-detail, .ticket-title, .total-price{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    font-size: 20px;
}
.ticket-title{
    font-weight: bold;
}
.ticket-detail{
    margin-top: -15px;
}
.unit-fee{
    margin-left: 100px;
}
.unit-price{
    margin-left: 75px;
}
.number-traveler{
    margin-left: 120px;
}
.traveler-amount{
    margin-left: 120px;
}
.total-price{
    margin-top: 15px;
    font-weight: bold;
}
.total-title{
    color: #FB9C0D;
}
.sum{
    margin-left: 250px;
}

/*Button*/
.continue-button button{
    position: absolute;
    margin-top: -320px;
    margin-left: 1275px;
    width: 261px;
    height: 61px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 27px;
    font-family: 'Rubik',sans-serif;
    font-weight: bold;
}
.continue-button button:hover{
    background-color: #fff;
    color: #000;
}

/*Footer*/
.footer{
    background-color: #363636;
    margin-top: 50px;
}
.ftcontent{
    display: flex;
    flex-direction: row;
    padding: 50px 150px;
}
.ftbrand{
    margin-right: 80px;
}
.ftbrand img{
    width: 144px;
}
.name{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #FB9C0D;
}
.motto{
    color: white;
    font-size: 36px;
}
.copyright{
    background-color: black;
    color: white;
    height: 60px;
    margin: auto;
}
.copyright p{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
}
.col{
    margin: 0 50px;
}
.col h4{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FB9C0D;
    margin-bottom: 40px;
}
.col p{
    font-weight: light;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: -5px;
}
.sns{
    margin-top: 50px;
    margin-left: -15px;
}
.sns img{
    height: 40px;
    margin: 0 15px;
}