@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap');
.bookingbg{
    z-index: -1;
    background-image: url(/image/bgbooking.jpeg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin-top: -20px;
}
.searchfl{
    background:#fff
}
.sfct{
    margin: 0 150px;
    border-radius: 15px;
    box-shadow: 3px 5px 21px rgba(0, 0, 0, 0.3);
    width: 1506px;
    height: 390px;
    margin-top: -300px;
    background: #fff;
    margin-bottom: 200px;
}
.filter{
    margin: 40px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-select span, .passenger span{
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin: 0 30px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 10px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
    margin-left: 40px;
    font-weight: bold;
    font-size: 14px;
}
.passenger{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.passenger input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
.flightinfo{
    display: flex;
    flex-direction: row;
    margin: 0 70px;
}
.subflinfo{
    background: white;
    width: 492.52px;
    height: 137px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
}
.flightinfo img{
    z-index: +1;
    height: 60px;
    max-height: 137px;
    text-align: center;
    line-height: 137px;
    margin: 40px -20px ;
}
.subflinfoct{
    margin: 10px 50px;
}
.subflinfoct h2{
    font-weight: bold;
    font-size: 36px;
    color: #FB9C0D;
    line-height: 42px;
    margin-top: -15px;
}
.subflinfoct h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.5)
}
.date{
    margin-left: 30px;
    margin-top: -100px;
}
.depature, .return{
    width: 309px;
    height: 131px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px 0px;
}
.depature h3, .return h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.5);
}
.btsearch{
    width: 312px;
    height: 87px;
    background: #303030;
    border-radius: 13px;
    margin-left: 50px;
    margin-top: 30px;
}
.btsearch:hover{
    background: #555;
}
.btsect{
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    padding-top: 5px;
}
.btsect img{
    height: 36px;
    margin: 20px 10px 20px -20px;
}
.btsect{
    color: white;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.datect{
    margin-left: 30px;
}
.datect h2{
    margin-top: -15px;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FB9C0D;
}
.click{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: -20px;
}
.click img{
    height: 20px;
    opacity: 0.5;
    margin-right: 10px;
    margin-top: -5px;
}
.click a{
    font-weight: bold;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.flights{
    background-color: white;  
    margin-right: auto;
}

.flightscontent{
    padding: 0px 150px;
    padding-bottom: 100px;
}
.flrow{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    height: 85px;
}
.flcol-1{
    display: flex;
    flex-direction: row;
}
.flcol-1 img{
    border-radius: 11px;
    height: 62px;
}
.flbrandinfo{
    margin: -20px 24px;
}
.flbrandinfo h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.flbrandinfo h4{
    font-family: 'Rubik', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #6B6B6B;
    margin-top: -20px;
}
.flcol{
    align-content: center;
    text-align: center;
    margin: 0 50px;
}
.departureDate, returnDate{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.43);
    margin-top: -2px;
}
.takeoffTime, .landingTime{
    margin-top: -20px;
    font-family: 'Rubik',serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    color: #FB9C0D;
}
.takeoffPlace, .landingPlace{
    margin-top: -45px;
    font-family: 'Rubik',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}
.flytime{
    margin-top: -10px;
    font-family: 'Rubik',serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 190px;
    color: rgba(0, 0, 0, 0.5);
}
.stop{
    margin-top: -10px;
    font-family: 'Rubik',serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 190px;
    color: #FB9C0D;
}
.ticketPrice{
    margin-top: 0;
    font-family: 'Rubik',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #303030;
}